params {
	in = "$baseDir/fastq/*.fastq.gz"
	validate = false
	root_output_dir = "nf_output"
	options = "value1"
	new_param_1 = "5"
}


profiles {
    local {
        includeConfig 'config/local.config'
    }

    conda {
    	includeConfig 'config/conda.config'
    }

    singularity {
        singularity.enabled = true
        includeConfig 'config/docker.config'
    }

    docker {
        includeConfig 'config/docker.config'
    }
}
